version: "3"

volumes:
    db-data:
        driver: local
    grafana-data:
        driver: local
    loki-data:
        driver: local

services:
    timescaledb:
        image: timescale/timescaledb:latest-pg11
        restart: always
        environment:
            POSTGRES_DB: "smart_dep"
            POSTGRES_USER: "admin"
            POSTGRES_PASSWORD: "admin"
        volumes:
            # Set implicit place for using disk space where it is deployed (not system)
            - db-data:/var/lib/postgresql/data
            # - ./volumes/db-data:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        labels:
            NAME: "timescaledb"
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    pgadmin:
        image: dpage/pgadmin4:4.20
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: "admin@domain.com"
            PGADMIN_DEFAULT_PASSWORD: "admin"
        ports:
            - "54321:80"
        volumes:
            - ./config/pgadmin/servers.json:/pgadmin4/servers.json:ro
        depends_on:
            - timescaledb
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    rabbitmq:
        image: "rabbitmq:3-management"
        restart: always
        environment:
            RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
        ports:
            - "15672:15672" # RabbitWebInterface
            - "5672:5672" # AMQP
            - "1883:1883" # MQTT
        labels:
            NAME: "rabbitmq"
        volumes:
            - ./config/rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins:ro
            - ./config/rabbitmq/rabbitmq.config:/etc/rabbitmq/rabbitmq.config:ro
            #- ./config/rabbitmq/autocluster-0.4.1.ez:/usr/lib/rabbitmq/lib/rabbitmq_server-3.5.5/plugins/autocluster-0.4.1.ez
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    web:
        build:
            context: web-frontend
        image: acs-registry.duckdns.org/webui:${VERSION:-latest}
        restart: always
        # For debug
        ports:
            - "81:80"
        depends_on:
            - apiserver
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    apiserver:
        build:
            context: .
            dockerfile: api_server/Dockerfile
        image: acs-registry.duckdns.org/apiserver:${VERSION:-latest}
        env_file:
            - "config/.env.${SMART_ENV:-dev}"
        environment:
            - DMINUTES=5
            # - RECREATE_TABLES=True
            - PREPARE_RABBITMQ=True
        restart: always
        # For swagger access
        ports:
            - "5000:8080"
        depends_on:
            - timescaledb
            - rabbitmq
        command:
            [
                "gunicorn",
                "-k=geventwebsocket.gunicorn.workers.GeventWebSocketWorker",
                "--workers=1",
                "-b=0.0.0.0:8080",
                "app:app",
            ]
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    microserver:
        build:
            context: .
            dockerfile: micro_server/Dockerfile
        image: acs-registry.duckdns.org/microserver:${VERSION:-latest}
        env_file:
            - "config/.env.${SMART_ENV:-dev}"
        restart: always
        ports:
            - "5001:8080"
        depends_on:
            - timescaledb
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"
        command:
            ["gunicorn", "--workers=1", "-b=0.0.0.0:8080", "wsgi:create_app()"]

    emulator:
        build:
            context: emulator
        image: acs-registry.duckdns.org/emulator:${VERSION:-latest}
        restart: always
        depends_on:
            - rabbitmq
            - microserver
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    state_tracker:
        build:
            context: .
            dockerfile: tracker/Dockerfile
        image: acs-registry.duckdns.org/tracker:${VERSION:-latest}
        env_file:
            - "config/.env.${SMART_ENV:-dev}"
        environment:
            - TYPE=state
            - BUFFER_LIMIT=1000
            - TIMEOUT_S=1.0
        restart: always
        hostname: state_tracker
        depends_on:
            - rabbitmq
            - timescaledb
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    command_tracker:
        build:
            context: .
            dockerfile: tracker/Dockerfile
        image: acs-registry.duckdns.org/tracker:${VERSION:-latest}
        env_file:
            - "config/.env.${SMART_ENV:-dev}"
        environment:
            - TYPE=command
            - BUFFER_LIMIT=1000
            - TIMEOUT_S=1.0
        restart: always
        hostname: command_tracker
        depends_on:
            - rabbitmq
            - timescaledb
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    config_tracker:
        build:
            context: .
            dockerfile: tracker/Dockerfile
        image: acs-registry.duckdns.org/tracker:${VERSION:-latest}
        env_file:
            - "config/.env.${SMART_ENV:-dev}"
        environment:
            - TYPE=config
            - BUFFER_LIMIT=1000
            - TIMEOUT_S=1.0
        restart: always
        hostname: config_tracker
        depends_on:
            - rabbitmq
            - timescaledb
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    fluentd:
        build:
            context: .
            dockerfile: ./fluentd/Dockerfile
        restart: always
        ports:
            - 24224:24224
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    loki:
        image: grafana/loki:latest
        restart: always
        ports:
            - 3100:3100
        command: -config.file=/etc/loki/local-config.yaml
        volumes:
            - loki-data:/data/loki
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"

    grafana:
        image: grafana/grafana:6.7.3
        restart: always
        ports:
            - 3000:3000
        volumes:
            - ./config/grafana/grafana.ini:/etc/grafana/grafana.ini:ro
            - ./config/grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml:ro
            - grafana-data:/var/lib/grafana
        depends_on:
            - loki
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "20m"
