{
    "Servers": {
        "1": {
            "Name": "Main DB",
            "Group": "Servers",
            "Port": 5432,
            "Username": "{{db_user}}",
            "Host": "{{db_cont_name}}",
            "SSLMode": "prefer",
            "MaintenanceDB": "postgres"
        }
    }
}
